<template name="header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:white; font-size: smaller">Collective Experiences</a>
            </div>
            <ul class="nav navbar-nav navbar-right" style="color:white !important; font-size: smaller">
              {{> atNavButton}}
              <!--{{#if currentUser}}-->
                <!--<li><a class="" id="signup" href="/">Sign Out</a></li>-->
              <!--{{else}}-->
                <!--<li><a class="" id="login-buttons-logout" href="/sign-in">Sign In</a></li>-->
              <!--{{/if}}-->
            </ul>
        </div>
    </div>
</template>
