#participate {
  #leftHalfPreview {
    /*allow image to be wider than div*/
    /*https://stackoverflow.com/questions/8970682/allow-image-to-be-wider-than-containing-div*/
    /*how to let html images overlap one another*/
    /*https://stackoverflow.com/questions/5182170/how-to-let-an-html-image-overlap-another*/
    position: absolute;
    overflow: visible;
    height: 90vw;
    width: 45vw;
  }
  #rightHalfPreview {
    position: absolute;
    overflow: visible;
    height: 90vw;
    width: 45vw;
  }
  .fileinput {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }
  .fileinput-preview {
    max-height: 100%;
    max-width: 100%;
    border: none;
  }

  .fileinput-exists {
    display: none;
  }

  button[type=submit] {
    display: block;
    width: 100%;
  }

  input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .glyphicon-camera {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 35px;
    top: 50%;
    left: 50%;
  }

  .glyphicon-remove {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    top: 10%;
    right: 5%;
  }

  html, body {
    background-color: transparent;
  }
}
