
#results {
  select.form-control {
    display: inline-block;
    width: auto;
  }

  img {
    width: 100%;
    padding: 1px;
  }

  .col {
    padding: 0;
  }

  .pswp__caption__center {
    text-align: center;
  }

  .image-grid {
    position: relative;

    .caption {
      position: absolute;
      width: calc(100% - 2px);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 48px;
      line-height: 48px;
      color: rgba(255, 255, 255, 0.8);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .submission-tag {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}
