
#results {
  .half0 {
    /*allow image to be wider than div*/
    /*https://stackoverflow.com/questions/8970682/allow-image-to-be-wider-than-containing-div*/
    /*how to let html images overlap one another*/
    /*https://stackoverflow.com/questions/5182170/how-to-let-an-html-image-overlap-another*/
    position: absolute;
    overflow: visible;
    height: 90vw;
    width: 45vw;
  }
  .half1 {
    position: absolute;
    overflow: visible;
    height: 90vw;
    width: 45vw;
  }
  select.form-control {
    display: inline-block;
    width: auto;
  }

  img {
    width: 100%;
    padding: 1px;
  }

  .col {
    padding: 0;
  }

  .pswp__caption__center {
    text-align: center;
  }

  #change-layout {
    margin-bottom: 8px;
  }

  .image-grid {
    position: relative;

    .caption {
      position: absolute;
      width: calc(100% - 2px);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 48px;
      line-height: 48px;
      /*rgba(255, 255, 255, 0.8);*/
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .submission-tag {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}
