
#results {
  select.form-control {
    display: inline-block;
    width: auto;
  }

  img {
    width: 100%;
    padding: 1px;
  }

  .col {
    padding: 0;
  }

  .pswp__caption__center {
    text-align: center;
  }

  #change-layout {
    margin-bottom: 8px;
  }

  .image-grid {
    position: relative;

    .caption {
      position: absolute;
      width: calc(100% - 2px);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 48px;
      line-height: 48px;
      /*rgba(255, 255, 255, 0.8);*/
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .submission-tag {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }

  .halfsquare {
    position: relative;
    box-sizing: border-box;
  }

  .halfsquare::before {
    content: '';
    display: block;
    /*since 100% containing div width is half the sidelength of a square,*/
    /*200% of containing div width is the full sidelength of a square.*/
    padding-top: 200%;
  }

  .halfsquare .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  }

  // BEGIN STORYBOOKS
  .mySlides {
    display: none
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Next & previous buttons */
  #prev, #next {
    cursor: pointer;
    bottom: 0px;
    color: black;
    font-weight: bold;
    font-size: 50px !important;
    border-radius: 0 3px 3px 0;
  }
  /* Position the "next button" to the right */
  #next {
    border-radius: 3px 0 0 3px;
  }
  .caption {
    margin-top: 15px;
  }
  .caption-text {
    word-wrap: break-word;
    margin: 0 auto;
  }
  .illustration {
    // story-img.attr(height) + avatar.attr(height)
    height: 358px;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .story-img {
    height: 300px;
    width: 300px;
  }
  #img0 {
    display: inline;
  }
  // END STORYBOOK
}
