#triparticipate {
  //participate for 3-way pyramidal structure
  .topLTri {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .topRTri {
    grid-column:  3/ span 2;
    grid-row: 1 / span 1;
  }

  .bottomTri {
    grid-column:  2/ span 2;
    grid-row: 2 / span 1;
  }

  //participate for 3, top/middle/botom
  .topThird{
    grid-row: 1 / span 1;
    border: gray solid 1px;
  }

  .middleThird{
    grid-row: 2 / span 1;
    border: gray solid 1px;
  }

  .bottomThird{
    grid-row: 3 / span 1;
    border: gray solid 1px;
  }

  #tcameraOverlay {
    display: grid;

    margin: 0;
    padding: 0;
    height: 50vh;
  }

  .gap {
      grid-gap: 10px;
  }

  .trisquare {
    position: relative;
    box-sizing: border-box;
  }


  .trisquare .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  }

  .btn-borderless {
    border: transparent !important;
    background-color: transparent !important;
    padding: 1vw;
  }

  .camera-controls {
    // this margin matches the height of the bottom nav bar, so it wont overlap the camera icon
    margin-bottom: 52px;
  }

  .center-control {
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .right-control {
    position: absolute;
    margin-top: 10px;
    left: 95%;
    transform: translate(-95%, 0);
  }
  // END groupCheers

  .fileinput {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }
  .fileinput-preview {
    max-height: 100%;
    max-width: 100%;
    border: none;
  }

  .fileinput-exists {
    display: none;
  }

  button[type=submit] {
    display: block;
    width: 100%;
  }

  input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .glyphicon-camera.fileinput-new {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 35px;
    top: 50%;
    left: 50%;
  }

  .glyphicon-remove {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    top: 10%;
    right: 5%;
  }
}
