<template name="home_subscriptions">
  <table class="table table-subscription">
    {{#if experiences.length}}
      {{#each experiences}}
        {{> home_subscriptions_experience}}
      {{/each}}
    {{else}}
      <br/><p>Bummer, it looks like you're not eligible for any experiences right now. Update your profile or check back later.</p>
    {{/if}}

  </table>
</template>

<template name="home_subscriptions_experience">
  <tr>
    <td>
      <strong>{{name}}</strong>: <br/>{{description}}
    </td>
    <td>
      {{#if subscribed}}
      <button type="button" class="btn btn-default btn-s btn-unsubscribe">Unsubscribe</button>
      {{else}}
      <button type="button" class="btn btn-primary btn-s btn-subscribe">Subscribe</button>
      {{/if}}
    </td>
  </tr>
</template>
