<template name="cameraUpload">
<div id="participate">
  {{#if gIsSubmitting}}
    {{> loadingOverlay}}
  {{/if}}
    <form class="col col-xs-12">
      {{#if this.imageContributions}}
          <label class="fileinput">
            <img src="#" class="fileinput-preview thumbnail fileinput-exists"/>
            <div class="glyphicon glyphicon-camera fileinput-new"></div>
            <div class="glyphicon glyphicon-remove fileinput-exists"></div>
          </label>
          <input type="file" name="photo" required>
        {{/if}}
        {{#each key in this.textContributions}}
          <div class="form-group">
            <input id={{key}} name="write" type="text" class="form-control" placeholder="Write your thing here" required>
          </div>
        {{/each}}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</template>
