<template name="camera">
    {{> loadingOverlay}}
    <label id={{this}} class="fileinput">
        <img src="#" class="fileinput-preview thumbnail fileinput-exists"/>
        <div class="glyphicon glyphicon-camera fileinput-new"></div>
        <div class="glyphicon glyphicon-remove fileinput-exists"></div>
    </label>
    <input type="file" name="photo" required>
</template>

<template name="halfhalfCamera">
  <label id={{this}} class="fileinput content">
    <img src="#" class="fileinput-preview"/>
  </label>
</template>

<template name="text">
    {{> loadingOverlay}}
    <textarea id={{this}} cols="40" rows="2" name="write" type="text" class="textinput form-control"
          placeholder="Write here" required></textarea>
</template>

<template name="value">
    <textarea id={{this.key}} value={{this.value}} cols="40" rows="3" name="write" type="text" class="textinput form-control" style="display:none"></textarea>
</template>

<template name="message">
    {{#if this.isSystem}}
      <div class="system message">
          <div style="font-size: 12px;">🧠 <b>Cerebro</b> 🧠</div>
          <div>{{this.message}}</div>
      </div>
    {{else if this.isExp}}
      <div>{{> React component=CEResponse ids=this.isExp}}</div>
    {{else}}
      <div class={{getSenderAndSetClass this.uid this.system}}>
        <div style="font-size: 10px;">
          <span>
            <b>{{getUsername this.uid}}</b>
          </span>
          <span>
            {{#let t = (timestamp this.createdAt)}}
              {{t}}
            {{/let}}
          </span>
        </div>
        <div>
          {{#if this.isReply}}
            {{#if isReceiver this}}
              <div style="font-style: italic; font-size: 12px;">Replied to your experience: </div>
            {{else}}
              <div style="font-style: italic; font-size: 12px;">Replied to {{getUsername this.replyRecipient}}'s experience: </div>
            {{/if}}
          {{/if}}
          {{this.message}}
        </div>
      </div>
    {{/if}}
</template>


<template name="dropdown">
    <head>
        <style>
            #{{this.name}}{
                height: 35px;
                border: 1px solid rgba(34, 36, 38, 0.15);
                color: rgba(0, 0, 0, 0.87);
                background: #ffffff;
                width: 80%;
            }
        </style>
    </head>
    <select class="dropdown" id={{this.name}}>
        {{#each option in this.options}}
            <option value="{{option.[1]}}">{{option.[0]}} </option>
        {{/each}}
    </select>
</template>

<template name="resultReply">
  <head>
    <style>
      #{{this}}{
               display: block;
            }
    </style>
  </head>
  {{> loadingOverlay}}
  <textarea id={{this}} cols="40" rows="2" name="write" type="text" class="replyText textinput form-control"
        placeholder="Share your reactions!" required></textarea>
</template>