

<template name="camera">
    {{> loadingOverlay}}
    <label id={{this}} class="fileinput">
        <img src="#" class="fileinput-preview thumbnail fileinput-exists"/>
        <div class="glyphicon glyphicon-camera fileinput-new"></div>
        <div class="glyphicon glyphicon-remove fileinput-exists"></div>
    </label>
    <input type="file" name="photo" required>
</template>

<template name="halfhalfCamera">
  <label id={{this}} class="fileinput content">
    <img src="#" class="fileinput-preview"/>
  </label>
</template>

<template name="text">
    <textarea id={{this}} cols="40" rows="3" name="write" type="text" class="textinput form-control"
          placeholder="Write here" required></textarea>
</template>

<template name="value">
    <textarea id={{this.key}} value={{this.value}} cols="40" rows="3" name="write" type="text" class="textinput form-control" style="display:none"></textarea>
</template>


<template name="dropdown">
    <head>
        <style>
            #{{this.name}}{
                height: 35px;
                border: 1px solid rgba(34, 36, 38, 0.15);
                color: rgba(0, 0, 0, 0.87);
                background: #ffffff;
                width: 80%;
            }
        </style>
    </head>
    <select class="dropdown" id={{this.name}}>
        {{#each option in this.options}}
            <option value="{{option.[1]}}">{{option.[0]}} </option>
        {{/each}}
    </select>
</template>

<template name="message">
  
  <div class="message {{#if announcement}}announcement{{/if}}">
    <div class="name">{{name}} <span class="timestamp">{{timestamp}}</span></div>
    <div class="message-text">{{message}}</div>
  </div>
  
</template>


<template name="chat">

    <body>  
      
      <!-- orevious lines of dialogue -->
      <div class="messages-box">
        <div class="messages-scroll">
          <div class="messages">
            {{#if Template.subscriptionsReady}}
              {{#each messages}}
                {{> message}}
              {{else}}
              {{/each}}
            {{else}}
              {{> loader}}
            {{/if}}
          </div>
        </div>
      </div>

      <!-- writing your own message -->
      <div class="new-message-container">
          <form id="message">
            <input type="text" class="message-input" placeholder="Type your message here..."><button type="submit">Send</button>
          </form>
      </div>

      <!-- dropdown menu for options -->

      <div id="participate">
        <form class="col col-xs-12" id="participate">
            <p style="text-align: center">{{> Template.dynamic template="dropdown" data=this}}</p>
            <!--
            <button type="submit" class="btn btn-default btn-participate btn-primary btn-block"
                    style="border-radius: 3px; height: 38px; width: 50%; margin-top: 10px;">
                Submit
            </button> -->
        </form>
      </div>

    </body>
</template>

<template name="loader">
  
  <svg class="loader" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
    <path fill="#009fff" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"></path>
  </svg>
  
</template>