img.logo {
  width: 100%;
}

.image-set li {
  margin: 0.5em;
  display: inline-block;
  padding: 2px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-color: rgb(125, 125, 125);
}

.image-set li div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.image-set li img {
  width: 100%;
}

.secret {
	color: #a6a6a6;
}

.table-subscription {
  max-width: 300px;
}

.table-subscription td {
  padding-top: 10px;
  text-align: left;
}
