<template name="home">
  <div class="container">
    {{#if currentUser}}
      <h2>Getting started with Cerebro</h2>
      <div>
        {{#if activeExperience}}
        {{> participate_link}}
        {{/if}}
        <h4>Step 1. Update your user profile</h4>
        <i>We'll use this information to provide you with new experiences to subscribe to.</i>
        {{> profileSettings}}
        <br/>
        <h4>Step 2. Subscribe to experiences that interest you</h4>
        {{> subscriptions}}
        <h4>Step 3: Wait for an experience to start. We'll notify you when it does!</h4>
      </div>
    {{/if}}
  </div>
</template>
