body {
  font-size: 15px;
  margin-top: 55px;
  margin-bottom: 65px;
  // transparent body required for the CameraPreview instance to be displayed behind the layout HTML.
  // this is required when CameraPreview is started with toBack = true
  // see documentation on startCamera https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview
  background-color: white;
  font-family: 'Lato', 'Roboto', Helvetica;
}

p, input {
  font-family: 'Lato','Roboto', Helvetica;
  color: #000;
}

img.logo {
  width: 100%;
}

.grid {
  display: block;
  text-align: center;
}

.secret {
  color: #a6a6a6;
}

/* Constrain autocomplete dropdown to viewport width */
.twitter-typeahead, .twitter-typeahead > .form-control, .tt-menu {
  max-width: 100% !important;
}

// forms
.form-group {
  margin-bottom: 7px;
}

// header nav
.navbar-text {
  margin-top: 9px;
  margin-left: 10px;
}

.navbar {
  margin-bottom: 0px;
  background-color: #263147;
}

.navbar-header {
  float: left;
}

.navbar-nav {
  margin-top: 5px;
  margin-bottom: 0px;
}

.navbar-nav a.dropdown-toggle {
  color: #fff !important;
  background-color: rgba(38, 49, 71, 0) !important;
}

select {
  width: 30%
}

// useraccounts:unstyled
// @see https://github.com/meteor-useraccounts/unstyled/tree/master/lib
#at-nav-button {
  color: #fff !important;
  text-underline: #0097cf;
}
#at-btn {
  background-color: #5dc18d !important;
  color: #fff;
  border: #fff;
}
#at-form {
  padding: 0;
}

// footer nav
.nav-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 52px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 55px;
  padding: 7px 0px 5px 0px;
  font-size: 12px;
  white-space: normal;

  &.active .fa, &.active .nav-text {
    color: #263147;
  }
}

.nav-item .deco-none {
  color: inherit;
  text-decoration: none;
}

.nav-item .fa {
  font-size: 24px;
  display: block;
  transition: all 0.4s ease;
  color: #888;
}

.nav-item .nav-text {
  transition: all 0.4s ease;
  color: #888;
}

.btn-subscribe, .btn-unsubscribe {
  margin-top: 10px;
  background-color: #263147;
  color: #fff;
  border: none;
  width: 50%;
}

.btn-participate {
  margin: 0 auto;
  background-color: #263147;
  color: #fff;
  // border: 2px solid #3e50b4;
  border-radius: 2px;
  width: 50%;
}

.btn-submit {
  margin: 0 auto;
  background-color: #263147;
  color: #fff;
  // border: 2px solid #3e50b4;
  border-radius: 2px;
  width: 50%;
}

.btn {
  border-radius: 2px;
  vertical-align: text-top;
}

hr {
  color: #000;
  margin: 5px;
  padding: 0px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-med {
  margin: 15px;
}

.participate-chunk {
  background-color: #fff;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card .card-title {
  font-size: 20px;
  font-weight: 300;
}

.card .card-image img {
  display: block;
  position: relative;
  margin-top: -25px;
  width: 100%;
}

.card-image {
  width: 100%;
  overflow: hidden;
  max-height: 100px;
}

.card .card-action {
  position: relative;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 12px 25px;
}

.card-action a {
  text-decoration: none;
  color: #5dc18d;
  font-weight: 700;
}

.card-contents {
  padding: 12px 25px 12px 25px;
}

.desc-text {
  font-size: 14px;
  padding-top: 5px;
  color: #777;
}

// BEGIN PROFILE AVATAR

// displayLeftToRight_Avatar_FullName
.profile-card-avatar_fullname {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 54px 1fr;
  grid-template-areas: "profile-image-left" "profile-text-right";
  padding: 4px;
}
.profile-image-left {
  height: 54px;
  gridarea: profile-image-left;
}
.profile-text-right {
  gridarea: profile-text-right;

  /* wrap on line breaks like normal */
  white-space: normal;
  overflow: hidden;
}

// displayLeftToRight_FullName_Avatar
.profile-card-fullname_avatar {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 54px;
  grid-template-areas: "profile-text-left" "profile-image-right";
  padding: 4px;
}
.profile-image-right {
  height: 54px;
  gridarea: profile-image-right;
}
.profile-text-left {
  gridarea: profile-text-left;

  /* wrap on line breaks like normal */
  white-space: normal;
  overflow: hidden;
}

//displayTopToBottom_Avatar_FullName
.profile-card-top-bottom {
  text-align: center;
  padding: 4px;
}
.profile-image {
  width: 54px;
  display: block;
  margin: 0 auto;
}
.profile-text {
  white-space: normal;
}

.profile-firstlast {
  font-weight: bold;
}
.at-avatar {
  border-radius: 50%;
}
.at-avatar-square {
  border-radius: 0;
}
// END PROFILE AVATAR

.centered {
  text-align: center;
}

.align-middle {
  position: absolute;
  display: table;
}
.align-middle p {
  display: table-cell;
  vertical-align: middle;
}
