body {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 65px;
}

img.logo {
  width: 100%;
}

.grid {
  display: block;
  text-align: center;
}

.secret {
	color: #a6a6a6;
}

.table-subscription {
  max-width: 300px;
}

.table-subscription td {
  padding-top: 10px;
  text-align: left;
}

/* Constrain autocomplete dropdown to viewport width */
.twitter-typeahead, .twitter-typeahead > .form-control, .tt-menu {
  max-width: 100% !important;
}

// footer nav
.nav-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 60px;
  padding: 7px 0px 5px 0px;
  font-size: 14px;
  white-space: normal;
  border-right: 1px solid #e7e7e7;

  &.active {
    background-color: #ddd;
  }

  &:last-child {
    border-right: none;
  }

}

.nav-item .deco-none {
  color: inherit;
  text-decoration: none;
}

.nav-item .fa {
  font-size: 24px;
  display: block;
}

.nav-item .nav-text {

}

.btn-participate {
  margin-top: 8px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

