body {
  font-size: 16px;
}

img.logo {
  width: 100%;
}

.grid {
  display: block;
  text-align: center;
}

.secret {
	color: #a6a6a6;
}

.table-subscription {
  max-width: 300px;
}

.table-subscription td {
  padding-top: 10px;
  text-align: left;
}

/* Constrain autocomplete dropdown to viewport width */
.twitter-typeahead, .twitter-typeahead > .form-control, .tt-menu {
  max-width: 100% !important;
}
